<div class="list-songs">
    <div class="list-songs-title">
        <h3>Lists songs current playing</h3>
    </div>
    <div class="list-songs-details">
        <mat-accordion>
            <mat-expansion-panel [expanded]="item.position === 1"
                *ngFor="let item of listSongsOrder | sort: 'item.position'">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon color="primary">{{item.position === 1 ? 'play_arrow' : 'music_note'}}</mat-icon>
                        <img src="{{item.song.album.image}}" alt="song image album" class="song-album-image" />
                        <span [ngClass]="{'bold': item.position === 1}">{{item.song.title}}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-list-songs-details">
                    <p>
                        <mat-icon>mic</mat-icon>
                        <span class="bold">Artist: </span>
                        <mat-chip-list aria-label="Artist selection" class="panel-list-chip-selection">
                            <mat-chip *ngFor="let artist of item.song.artists">{{artist.name}}</mat-chip>
                        </mat-chip-list>
                    </p>
                    <p>
                        <mat-icon>queue_music</mat-icon>
                        <span class="bold">Album: </span>
                        <mat-chip-list aria-label="Album selection" class="panel-list-chip-selection">
                            <mat-chip>{{item.song.album.name}}</mat-chip>
                        </mat-chip-list>
                    </p>
                    <p>
                        <mat-icon>library_music</mat-icon>
                        <span class="bold">Genres: </span>
                        <mat-chip-list aria-label="Genres selection" class="panel-list-chip-selection">
                            <mat-chip *ngFor="let genre of item.song.genres">{{genre}}</mat-chip>
                        </mat-chip-list>
                    </p>
                    <p>
                        <mat-icon>av_timer</mat-icon>
                        <span class="bold">Duration: </span>{{item.song.duration}}
                    </p>
                    <p>
                        <button mat-raised-button color="primary">
                            <mat-icon>play_arrow</mat-icon> Play song
                        </button>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
</div>
